{
    "swagger": "2.0",
    "info": {
        "title": "Laravel",
        "description": "",
        "version": "1.0.0"
    },
    "host": "dei-api.amtago.club",
    "basePath": "\/",
    "schemes": [
        "http"
    ],
    "consumes": [
        "application\/json"
    ],
    "produces": [
        "application\/json"
    ],
    "paths": {
        "\/api\/customers\/login": {
            "post": {
                "description": "POST \/api\/customers\/login",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "schema": {
                            "type": "object",
                            "required": [
                                "email",
                                "password"
                            ],
                            "properties": {
                                "email": {
                                    "type": "string"
                                },
                                "password": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                ]
            }
        },
        "\/api\/customers\/register": {
            "post": {
                "description": "POST \/api\/customers\/register",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "schema": {
                            "type": "object",
                            "required": [
                                "name",
                                "email",
                                "password",
                                "c_password"
                            ],
                            "properties": {
                                "name": {
                                    "type": "string"
                                },
                                "email": {
                                    "type": "string"
                                },
                                "password": {
                                    "type": "string"
                                },
                                "c_password": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                ]
            }
        },
        "\/api\/launch": {
            "get": {
                "description": "GET \/api\/launch",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "\/api\/customer\/detail": {
            "get": {
                "description": "GET \/api\/customer\/detail",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "\/api\/customer\/orders": {
            "get": {
                "description": "GET \/api\/customer\/orders",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "\/api\/customer\/password": {
            "put": {
                "description": "PUT \/api\/customer\/password",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "user_id": {
                                    "type": "integer"
                                },
                                "password": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                ]
            }
        },
        "\/api\/products": {
            "get": {
                "description": "GET \/api\/products",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "parameters": [
                    {
                        "in": "query",
                        "name": "pname",
                        "type": "string",
                        "required": false,
                        "description": ""
                    },
                    {
                        "in": "query",
                        "name": "pshort",
                        "type": "string",
                        "required": false,
                        "description": ""
                    },
                    {
                        "in": "query",
                        "name": "pfull",
                        "type": "string",
                        "required": false,
                        "description": ""
                    },
                    {
                        "in": "query",
                        "name": "pkeywords",
                        "type": "string",
                        "required": false,
                        "description": ""
                    },
                    {
                        "in": "query",
                        "name": "pcode",
                        "type": "string",
                        "required": false,
                        "description": ""
                    },
                    {
                        "in": "query",
                        "name": "cid",
                        "type": "integer",
                        "required": false,
                        "description": ""
                    },
                    {
                        "in": "query",
                        "name": "amount_from",
                        "type": "integer",
                        "required": false,
                        "description": ""
                    },
                    {
                        "in": "query",
                        "name": "amount_to",
                        "type": "integer",
                        "required": false,
                        "description": ""
                    },
                    {
                        "in": "query",
                        "name": "price_from",
                        "type": "integer",
                        "required": false,
                        "description": ""
                    },
                    {
                        "in": "query",
                        "name": "price_to",
                        "type": "integer",
                        "required": false,
                        "description": ""
                    },
                    {
                        "in": "query",
                        "name": "subcats",
                        "type": "string",
                        "required": false,
                        "description": "",
                        "enum": [
                            "Y",
                            "N"
                        ]
                    },
                    {
                        "in": "query",
                        "name": "order_ids",
                        "type": "string",
                        "required": false,
                        "description": "",
                        "enum": [
                            "1",
                            "13",
                            "24"
                        ]
                    },
                    {
                        "in": "query",
                        "name": "free_shipping",
                        "type": "string",
                        "required": false,
                        "description": "",
                        "enum": [
                            "Y",
                            "N"
                        ]
                    },
                    {
                        "in": "query",
                        "name": "status",
                        "type": "string",
                        "required": false,
                        "description": "",
                        "enum": [
                            "A",
                            "D",
                            "H"
                        ]
                    },
                    {
                        "in": "query",
                        "name": "sort_order",
                        "type": "string",
                        "required": false,
                        "description": "",
                        "enum": [
                            "asc",
                            "desc"
                        ]
                    },
                    {
                        "in": "query",
                        "name": "sort_by",
                        "type": "string",
                        "required": false,
                        "description": "",
                        "enum": [
                            "status",
                            "list_price",
                            "product",
                            "price",
                            "code",
                            "amount"
                        ]
                    },
                    {
                        "in": "query",
                        "name": "page",
                        "type": "integer",
                        "required": false,
                        "description": ""
                    },
                    {
                        "in": "query",
                        "name": "items_per_page",
                        "type": "integer",
                        "required": false,
                        "description": ""
                    }
                ]
            }
        },
        "\/api\/products\/{id}\/detail": {
            "get": {
                "description": "GET \/api\/products\/{id}\/detail",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "type": "string",
                        "required": true,
                        "description": ""
                    }
                ]
            }
        },
        "\/api\/products\/categories": {
            "get": {
                "description": "GET \/api\/products\/categories",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "parameters": [
                    {
                        "in": "query",
                        "name": "page",
                        "type": "integer",
                        "required": false,
                        "description": ""
                    },
                    {
                        "in": "query",
                        "name": "items_per_page",
                        "type": "integer",
                        "required": false,
                        "description": ""
                    }
                ]
            }
        },
        "\/api\/product\/category\/{id}": {
            "get": {
                "description": "GET \/api\/product\/category\/{id}",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "type": "string",
                        "required": true,
                        "description": ""
                    }
                ]
            }
        },
        "\/api\/stores": {
            "get": {
                "description": "GET \/api\/stores",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "parameters": [
                    {
                        "in": "query",
                        "name": "page",
                        "type": "integer",
                        "required": false,
                        "description": ""
                    },
                    {
                        "in": "query",
                        "name": "items_per_page",
                        "type": "integer",
                        "required": false,
                        "description": ""
                    },
                    {
                        "in": "query",
                        "name": "sort_by",
                        "type": "string",
                        "required": false,
                        "description": ""
                    },
                    {
                        "in": "query",
                        "name": "sort_order",
                        "type": "string",
                        "required": false,
                        "description": "",
                        "enum": [
                            "asc",
                            "desc"
                        ]
                    },
                    {
                        "in": "query",
                        "name": "timestamp",
                        "type": "integer",
                        "required": false,
                        "description": ""
                    },
                    {
                        "in": "query",
                        "name": "company",
                        "type": "string",
                        "required": false,
                        "description": ""
                    }
                ]
            }
        },
        "\/api\/stores\/{id}\/detail": {
            "get": {
                "description": "GET \/api\/stores\/{id}\/detail",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "type": "string",
                        "required": true,
                        "description": ""
                    }
                ]
            }
        },
        "\/api\/products\/store\/{id}": {
            "get": {
                "description": "GET \/api\/products\/store\/{id}",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "type": "string",
                        "required": true,
                        "description": ""
                    }
                ]
            }
        },
        "\/api\/orders": {
            "get": {
                "description": "GET \/api\/orders",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "parameters": [
                    {
                        "in": "query",
                        "name": "user_id",
                        "type": "integer",
                        "required": false,
                        "description": ""
                    },
                    {
                        "in": "query",
                        "name": "company_id",
                        "type": "integer",
                        "required": false,
                        "description": ""
                    },
                    {
                        "in": "query",
                        "name": "email",
                        "type": "string",
                        "required": false,
                        "description": ""
                    },
                    {
                        "in": "query",
                        "name": "invoice_id",
                        "type": "integer",
                        "required": false,
                        "description": ""
                    },
                    {
                        "in": "query",
                        "name": "credit_memo_id",
                        "type": "integer",
                        "required": false,
                        "description": ""
                    },
                    {
                        "in": "query",
                        "name": "status",
                        "type": "string",
                        "required": false,
                        "description": "",
                        "enum": [
                            "P",
                            "C",
                            "O",
                            "F",
                            "D",
                            "B",
                            "I",
                            "Y"
                        ]
                    },
                    {
                        "in": "query",
                        "name": "sort_order",
                        "type": "string",
                        "required": false,
                        "description": "",
                        "enum": [
                            "asc",
                            "desc"
                        ]
                    },
                    {
                        "in": "query",
                        "name": "sort_by",
                        "type": "string",
                        "required": false,
                        "description": "",
                        "enum": [
                            "status",
                            "list_price",
                            "product",
                            "price",
                            "code",
                            "amount"
                        ]
                    },
                    {
                        "in": "query",
                        "name": "page",
                        "type": "integer",
                        "required": false,
                        "description": ""
                    },
                    {
                        "in": "query",
                        "name": "items_per_page",
                        "type": "integer",
                        "required": false,
                        "description": ""
                    }
                ]
            }
        },
        "\/api\/order\/add": {
            "post": {
                "description": "POST \/api\/order\/add",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "schema": {
                            "type": "object",
                            "required": [
                                "user_data.email",
                                "user_data.b_firstname",
                                "user_data.b_lastname",
                                "user_data.b_address",
                                "user_data.b_city",
                                "user_data.b_state",
                                "user_data.b_country",
                                "user_data.b_zipcode",
                                "user_data.b_phone",
                                "user_data.s_firstname",
                                "user_data.s_lastname",
                                "user_data.s_address",
                                "user_data.s_city",
                                "user_data.s_state",
                                "user_data.s_country",
                                "user_data.s_zipcode",
                                "user_data.s_phone",
                                "shipping_id",
                                "payment_id",
                                "products",
                                "products.product_id.product_id",
                                "products.product_id.amount",
                                "products.product_id.product_options.option_id",
                                "products.product_id.product_options.option_id.variant_id"
                            ],
                            "properties": {
                                "user_id": {
                                    "type": "integer"
                                },
                                "user_data": {
                                    "type": "object",
                                    "properties": {
                                        "email": {
                                            "type": "string"
                                        },
                                        "b_firstname": {
                                            "type": "string"
                                        },
                                        "b_lastname": {
                                            "type": "string"
                                        },
                                        "b_address": {
                                            "type": "string"
                                        },
                                        "b_city": {
                                            "type": "string"
                                        },
                                        "b_state": {
                                            "type": "string"
                                        },
                                        "b_country": {
                                            "type": "string"
                                        },
                                        "b_zipcode": {
                                            "type": "string"
                                        },
                                        "b_phone": {
                                            "type": "string"
                                        },
                                        "s_firstname": {
                                            "type": "string"
                                        },
                                        "s_lastname": {
                                            "type": "string"
                                        },
                                        "s_address": {
                                            "type": "string"
                                        },
                                        "s_city": {
                                            "type": "string"
                                        },
                                        "s_state": {
                                            "type": "string"
                                        },
                                        "s_country": {
                                            "type": "string"
                                        },
                                        "s_zipcode": {
                                            "type": "string"
                                        },
                                        "s_phone": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "shipping_id": {
                                    "type": "string"
                                },
                                "payment_id": {
                                    "type": "string"
                                },
                                "products": {
                                    "type": "object",
                                    "properties": {
                                        "product_id": {
                                            "type": "object",
                                            "properties": {
                                                "product_id": {
                                                    "type": "integer"
                                                },
                                                "amount": {
                                                    "type": "integer"
                                                },
                                                "product_options": {
                                                    "type": "object",
                                                    "properties": {
                                                        "option_id": {
                                                            "type": "object",
                                                            "properties": {
                                                                "variant_id": {
                                                                    "type": "integer"
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                ]
            }
        },
        "\/api\/order\/{id}": {
            "put": {
                "description": "PUT \/api\/order\/{id}",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "type": "string",
                        "required": true,
                        "description": ""
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "schema": {
                            "type": "object",
                            "required": [
                                "user_data.email",
                                "user_data.b_firstname",
                                "user_data.b_lastname",
                                "user_data.b_address",
                                "user_data.b_city",
                                "user_data.b_state",
                                "user_data.b_country",
                                "user_data.b_zipcode",
                                "user_data.b_phone",
                                "user_data.s_firstname",
                                "user_data.s_lastname",
                                "user_data.s_address",
                                "user_data.s_city",
                                "user_data.s_state",
                                "user_data.s_country",
                                "user_data.s_zipcode",
                                "user_data.s_phone",
                                "shipping_id",
                                "payment_id",
                                "products",
                                "products.product_id.product_id",
                                "products.product_id.amount",
                                "products.product_id.product_options.option_id",
                                "products.product_id.product_options.option_id.variant_id"
                            ],
                            "properties": {
                                "promotion_ids": {
                                    "type": "string"
                                },
                                "user_id": {
                                    "type": "integer"
                                },
                                "user_data": {
                                    "type": "object",
                                    "properties": {
                                        "email": {
                                            "type": "string"
                                        },
                                        "b_firstname": {
                                            "type": "string"
                                        },
                                        "b_lastname": {
                                            "type": "string"
                                        },
                                        "b_address": {
                                            "type": "string"
                                        },
                                        "b_city": {
                                            "type": "string"
                                        },
                                        "b_state": {
                                            "type": "string"
                                        },
                                        "b_country": {
                                            "type": "string"
                                        },
                                        "b_zipcode": {
                                            "type": "string"
                                        },
                                        "b_phone": {
                                            "type": "string"
                                        },
                                        "s_firstname": {
                                            "type": "string"
                                        },
                                        "s_lastname": {
                                            "type": "string"
                                        },
                                        "s_address": {
                                            "type": "string"
                                        },
                                        "s_city": {
                                            "type": "string"
                                        },
                                        "s_state": {
                                            "type": "string"
                                        },
                                        "s_country": {
                                            "type": "string"
                                        },
                                        "s_zipcode": {
                                            "type": "string"
                                        },
                                        "s_phone": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "shipping_id": {
                                    "type": "string"
                                },
                                "payment_id": {
                                    "type": "string"
                                },
                                "products": {
                                    "type": "object",
                                    "properties": {
                                        "product_id": {
                                            "type": "object",
                                            "properties": {
                                                "product_id": {
                                                    "type": "integer"
                                                },
                                                "amount": {
                                                    "type": "integer"
                                                },
                                                "product_options": {
                                                    "type": "object",
                                                    "properties": {
                                                        "option_id": {
                                                            "type": "object",
                                                            "properties": {
                                                                "variant_id": {
                                                                    "type": "integer"
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                ]
            }
        },
        "\/api\/carts\/{user_id}": {
            "get": {
                "description": "GET \/api\/carts\/{user_id}",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "parameters": [
                    {
                        "in": "path",
                        "name": "user_id",
                        "type": "string",
                        "required": true,
                        "description": ""
                    }
                ]
            }
        }
    }
}
